# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# logs & env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.production
.env.*.local

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
Thumbs.db
